body {
  background: url(../img/ArcadeWide.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'CaveStoryRegular';
}

p {
  font-size: 30px;
}

h1 {
  font-size: 50px;
  margin-bottom: 0px;
}

h2 {
}

li {
  font-size: 24px;
  color: white;
}

#user-name {
    width: 50%;
    font-size: 50px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 130px;
    border: solid;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 70px 0px rgba(0,0,0,1);
    box-shadow: inset 0 0 70px -10px rgba(0,0,0,1);
    border-width: 1px;
    border-color: black;
}

.userSubmit {
    margin-left: 64%;
    border-radius: 5px;
    font-size: 18px;
}

#characterChosen {
    font-size: 30px;
    margin-top: 16px;
    margin-left: 115px;
}

#chooseCharacter {
  padding: 0px 150px;
}

#generateCharacterPenny {
  padding: 2.5%
}

#generateCharacterDanny {
  padding: 2.5%;
}

#chooseItems {
  padding: 0px 80px;
}

.arcade {
  text-align: center;
}

.game-screen {
    max-width: 100%;
    /*padding: 0px 25%;*/
}

#start-screen-img {
  height: 685px;
  width: 100%;
  margin-top: 10px;
}

.start-page {
  max-width: 64%;
  margin: auto;
  margin-top: 25px;
  height: 583px;
  border-radius: 10px;
  /*display: none;*/
/*  margin-top: 5%; these are for 15'' macbook pro
  height: 585px;*/
}

.game {
  max-width: 64%;
  margin: auto;
  margin-top: 25px;
  height: 583px;
  border-radius: 10px;
  overflow: hidden;
}


.black-screen {
  margin: 0px;
  background-color: #0c0c0c;
  margin: auto;
  color: #3dc13d;
  border: solid;
  border-color: black;
  border-width: 1px;
  max-width: 64%;
  margin: auto;
  margin-top: 30px;
  height: 695px;
  border-radius: 10px;
  -webkit-box-shadow:inset 0 0 70px -20px rgba(61,193,61,1);
  box-shadow:inset 0 0 70px -20px rgba(61,193,61,1);
}

img.bigPicture {
  max-width: 100%;
  margin-left: 0;
  border-radius: 10px;
  height: 695px;
  position: relative;
}

.statsBox {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    top: 40px;
    left: 315px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #3dc13d;
    border: solid;
    -webkit-box-shadow: inset 0 0 70px 0px rgba(0,0,0,1);
    box-shadow: 0 0 15px 0px rgba(0,0,0,1);
}

.updateBox {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    top: 40px;
    left: 470px;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    max-width: 50%;
    border: solid;
    border-color: #020202;
    -webkit-box-shadow: inset 0 0 70px 0px rgba(0,0,0,1);
    box-shadow: 0 0 15px 0px rgba(0,0,0,1);
}

.story {
  padding: 3%;
}

.story2 {
  padding: 3%;
}

#user {
  padding: 5%;
}

.char1 {
  border-radius: 10px;
}

.char2 {
  border-radius: 10px;
}

.startGame {
    font-size: 20px;
    padding: 10px 25px;
    margin-top: 110px;
    border-radius: 10px;
    border: solid;
}

.restartGame {
  position: absolute;
  font-size: 20px;
  padding: 5px;
  left: 45%;
  top: 65%;
}

#groupImage:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#demo {
  font-size: 36px;
}